<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupp 23</title>
</head>
<body>
    <div class="container">
        <h1>hej</h1>
        <!-- {% extends "template.html" %}  -->
        <!-- {% block template %}  -->
    
        <div class="table_entrances" style="overflow-x: auto; background-color:blue;">
            <h1>HOME</h1>
            <table id="table">
                <thead><p>hej</p></thead>
                <tr></tr>
            </table>
        </div>
    </div>
   
    <!-- {% endblock %} -->
</body>
</html>